@import "colors";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @syntax-gutter-text-color-selected;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
    border: 1px solid @syntax-selection-border-color;
    border-radius: 2px;
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.comment {
  color: @syntax-comment-text-color;
  background: @syntax-comment-background-color;
}

.keyword {
  color: @syntax-keyword-color;

  &.control {
    color: @syntax-keyword-color;
  }

  &.operator {
    color: @syntax-text-color;
  }

  &.other.special-method {
    color: @color-wintergreen;
  }

  &.other.unit {
    color: @color-tangerine;
  }
}

.storage {
  color: @syntax-storage-color;

  &.type {
    color: @syntax-keyword-color;
  }
}

.constant {
  color: @syntax-constant-color;

  &.character.escape {
    color: @syntax-constant-string-escape-character-color;
  }

  &.numeric {
    color: @syntax-constant-numeric-color;
  }

  &.other.rgb-value {
    color: @syntax-constant-rgb-color
  }
  &.other.color {
    color: @syntax-constant-color;
  }

  &.other.symbol {
    color: @syntax-constant-symbol-color;
  }
}

.variable {
  color: @syntax-var-color;

  &.interpolation {
    color: darken(@syntax-var-color, 10%);
  }

  &.parameter.function {
    color: @syntax-parameter-color;
  }
}

.invalid.illegal {
  background-color: @color-sugo;
  color: @syntax-background-color;
}

.string {
  color: @syntax-constant-string-color;
  background: @syntax-constant-string-background-color;
  font-style: italic;

  &.regexp {
    color: @syntax-constant-numeric-color;

    .source.ruby.embedded {
      color: @syntax-constant-string-color;
    }
  }

  &.other.link {
    color: @syntax-constant-string-color;
  }
}

.link {
  color: @syntax-link-color;

  .entity {
    color: @syntax-var-color;
  }

  .punctuation {
    color: darken(@syntax-link-color, 10%);
  }
  .link {
    &.underline {
      color: @syntax-link-url-color;

      .punctuation {
      }
    }
  }
}

.punctuation {
  &.definition {
    &.comment {
      // color: ;
    }

    &.string {
      color: lighten(@syntax-constant-string-color, 10%);
    }

    &.variable,
    &.parameters,
    &.array {
      color: @syntax-text-color;
    }

    &.heading,
    &.identity {
      color: @syntax-header-color;
    }

    &.bold {
      color: @syntax-bold-color;
      font-weight: bold;
    }

    &.italic {
      color: @syntax-italic-color;
      font-style: italic;
    }
  }

  &.section {
    color: @syntax-punctuation-section-color;
    &.embedded {
      color: darken(@color-sugo, 10%);
    }
  }
  &.definition.function.begin,
  &.definition.function.end {
    color: @syntax-punctuation-section-color;
  }

  &.terminator {
    color: @syntax-punctuation-terminator-color
  }
}

.support {
  &.class {
    color: @syntax-function-support-color;
  }

  &.function  {
    color: @syntax-function-support-color;

    &.any-method {
      // color: ;
    }
  }
}

.entity {
  &.name.function {
    color: @syntax-function-color;
  }
  &.name.type {
    color: @color-tangerine;
    text-decoration: underline;
  }

  &.other.inherited-class {
    color: @color-wasabi;
  }
  &.name.class,
  &.name.type.class {
    color: @syntax-class-color;
  }

  &.name.section {
    color: @color-wintergreen;
  }

  &.name.tag {
    color: @color-sugo;
    text-decoration: underline;
  }

  &.other.attribute-name {
    color: @color-tangerine;

    &.id {
      color: @color-wintergreen;
    }
  }
}

.meta {
  &.class {
    color: @color-tangerine;
  }

  &.link {
    color: @color-tangerine;
  }

  &.require {
    color: @color-wintergreen;
  }

  &.selector {
    color: @color-plum;
  }

  &.separator {
    color: @syntax-text-color;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @syntax-bold-color;
    font-weight: bold;
  }

  &.changed {
    color: @color-plum;
  }

  &.deleted {
    color: @color-sugo;
  }

  &.italic {
    color: @syntax-italic-color;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @syntax-header-color;
  }

  &.inserted {
    color: @color-wasabi;
  }

  &.list {
    color: @color-sugo;
  }

  &.quote {
    color: @color-tangerine;
  }

  &.raw.inline {
    color: @color-wasabi;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @syntax-header-color;
    font-weight: bold;
  }
}

atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view {
  padding-left: 1px;
}
