@color-basil: #A6E22E;
@color-crockery: #F8F8F0;
@color-eggplant: #371B52;
@color-eggplant-pickle: #00263F;
@color-hard-boiled-egg-yolk: #E6DB74;
@color-lavender: #AE81FF;
@color-moldy-parmesan: #E0EDDD;
@color-mozzerella: #FAFFDC;
@color-mustard: #FFB900;
@color-old-eggplant: #75715E;
@color-olive-oil: #F7FF00;
@color-parmesan: #EEE8D5;
@color-plum: #4D0049;
@color-prociutto: #FDB9AC;
@color-prune: #100010;
@color-scrambled-eggs: #FFE792;
@color-semolina: #A57706;
@color-sugo: #FF445A;
@color-tangerine: #FF6728;
@color-tomato-sauce: #E83209;
@color-wasabi: #C0E0B8;
@color-wintergreen: #11C5BF;

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @color-scrambled-eggs;
@syntax-cursor-color: @color-sugo;
@syntax-selection-color: @color-plum;
@syntax-selection-border-color: @color-scrambled-eggs;
@syntax-background-color: @color-eggplant;

// Guide colors
@syntax-wrap-guide-color: @color-lavender;
@syntax-invisible-character-color: lighten(@syntax-background-color, 10%);
@syntax-indent-guide-color: lighten(@syntax-background-color, 20%);

// For find and replace markers
@syntax-result-marker-color: @color-mustard;
@syntax-result-marker-color-selected: @color-tomato-sauce;

// Gutter colors
@syntax-gutter-text-color: @color-wasabi;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-gutter-background-color: @color-eggplant-pickle;
@syntax-gutter-background-color-selected: lighten(@color-eggplant-pickle, 10%);

// Comment colors
@syntax-comment-text-color: @syntax-gutter-text-color;
@syntax-comment-background-color: @syntax-gutter-background-color;

// For git diff info. i.e. in the gutter
@syntax-git-renamed-color: @color-wintergreen;
@syntax-git-added-color: @color-wasabi;
@syntax-git-modified-color: @color-tangerine;
@syntax-git-removed-color: @color-sugo;

// Text
@syntax-italic-color: @color-mustard;
@syntax-bold-color: @color-tangerine;
@syntax-header-color: @color-wasabi;
@syntax-link-color: @color-wintergreen;
@syntax-link-url-color: @color-mustard;

// keyword
@syntax-keyword-color: @color-sugo;
@syntax-storage-color: @color-sugo; // eg. var, const

// variables
@syntax-var-color: @color-olive-oil;
@syntax-class-color: @color-sugo;
@syntax-parameter-color: @syntax-var-color;

// functions
@syntax-function-color: @color-wintergreen;
@syntax-function-support-color: @color-wintergreen;

// Constants
@syntax-constant-color: @color-lavender;
@syntax-constant-numeric-color: @color-tangerine;
@syntax-constant-symbol-color: @syntax-constant-color;
@syntax-constant-rgb-color: @color-prociutto;
@syntax-constant-string-color: @color-hard-boiled-egg-yolk;
@syntax-constant-string-background-color: @syntax-background-color; // lighten(@syntax-background-color, 10%);
@syntax-constant-string-escape-character-color: @syntax-constant-color;

// Other punctuation
@syntax-punctuation-section-color: @color-wasabi; // e.g. curly braces
@syntax-punctuation-terminator-color: @color-wasabi; // e.g. semicolon
